<body>
    <h1>Online Grocery Store</h1>
<p>
    Grocery shopping experience Buying the necessary things from a grocery store.
    Nowadays, especially in modern cities. All kinds of daily necessary things like milk, eggs, bread, oil, sugar, salt ,
    cold drinks etc are found in a grocery store.
</p>
<p>
    When it comes to grocery shopping, 
    we fall into two camps: One group loves to go grocery shopping and the other wants to get in and out as fast as possible.
</p>
<p>
    <b><i><u>Grocery shopping can be time-consuming : </u></i></b></p>

<ul><li>
making a list</li>
<li>traveling to and from the store</li>
<li>browsing through seemingly endless aisles to find what you’re looking for</li></ul>
<p>
Online grocery shopping is a dream come true for today’s generation. Specially, for all those women/men who always wanted to do grocery shopping on a budget.
 The landscape of grocery fulfillment has changed greatly.
</p>

<p>
    <b><u><i>It saves time : </i></u></b></p>
    <p>
    Shopping online alleviates the need to walk up and down store aisles.
    And you can log in any time—even at 2 am—and still have the advantage of a fully stocked store. 
    Plus, going the delivery route saves you a trip to the store, which not only saves time,
    but gas money as well. In fact, studies show grocery delivery services slash carbon dioxide emissions in half compared 
    to individual household trips.
</p>
 
<p>
    <b><u><i>No Unwanted Luxury Purchases : </i></u></b></p>
    <p>
    It’s far too easy to do; you’re walking around the shop grabbing all the items you need and suddenly a chocolate cake, 
    packet of biscuits, and some sausage rolls have somehow found their way into your trolley. 
    You didn’t want them before but now you’ve seen them you need them! Shopping online can help you tame the impulse buying within you.
</p>
<p>
    <b><u><i> Comparisons : </i></u> </b></p>
    <p>
    Many online stores have an invaluable feature that will make the lives of countless housewives a hundred 
    times simpler – the feature of price comparison. 
    Online shopping does not compel you to remember how much more expensive eggs are in store A versus store B.
</p>
<p>
    <b><i><u>Find Everything You Need : </u></i></b></p>
    <p>
    Search engines on websites make it much easier to find items quickly; typing in the name or brand of a product will show you all relevant products making it much easier to find exactly what you need.
</p>
</body>