 <body><section>
    <div id="container">
        <h1>Sign-in</h1>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
                <div class="form-group">
                    <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter Username/Email"><br>
                    <span *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched">
                        Please enter a valid name
                    </span>
                </div>
                
                
                <div class="form-group">
                    <input type="text" id="password" class="form-control" formControlName="password" placeholder="Enter the password"><br><br>
                   <!-- <a class="forgotpwd" href="" type="submit">Forgot Password?</a>-->
                   <span *ngIf="!signupForm.get('userData.password').valid && signupForm.get('userData.name').touched">
                    Please enter a valid password
                </span>                   
                </div>
                <div class="button">
                    <button class="btn" [routerLink]="['/cart']" (click)="onClick()"><i class="fa-regular fa-user"> </i> Signup</button>
                    <br>
                </div>
                <div class="button11">
                    <label>Not a member? </label> 
                    <a class="bts"  [routerLink]="['/account']" type="submit">Signup now</a>
                </div>
                
            </div>
        </form>
    </div>
</section>
<img *ngIf="imgVisible" src="">
</body> 