body{
    text-align: center;
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 47, 255));
    margin:-18px;
}
section{
   width:350px;
   height:380px;
   background-image: linear-gradient( rgb(0, 47, 255), rgb(255, 255, 255));
   margin-left: 38%;
   position: absolute;
   top:200px;

}
h1{
    margin-top: -5px;
    color: rgb(0, 0, 0);
    padding:20px;
    font-size: 35px;
    margin-bottom: -5px;
}
.forgotpwd{
    text-decoration: none;
    margin-left: -165px;
    
}
.form-control{
   
    width: 280px;
    height:40px;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    
}
.forgotpwd{
    font-size: 17px;
}
.bts{
    text-decoration: none;
}
.btn{
    width:150px;
    height:40px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: rgb(34, 46, 46);
    color: aliceblue;
}
.btn:hover{
    background-color: rgb(78, 78, 235);
}
.button11{
    margin-top: 30px;
}
a{
    color:blue;
    font-size: 17px;
}